@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    padding:0;
    margin:0;
    box-sizing: border-box; 
    user-select: none;  
}

#pet{
    width:7em;
    height:7em;
    
}

.hide{
    display:none!important;
}

body {
    display: flex;
    justify-content: center;
    margin-top:2em;
    color:#2bff00;
    text-transform: uppercase;
    font-family: 'VT323', 'Courier New', serif;
}

.container {
    background-color: #2a2a2a;
    min-width:23em;
    height:25em;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    box-shadow: inset 0px 0px 8px 5px #ffffff36;
}

.blackScreen {
    background-color: black;
    width:20em;
    height:15em;
    margin:1em;
}

/**starting screen**/
#startingScreen {
    display: flex;
    align-items: center;
}

#startingScreen form {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap:1em;
}

#choiceLabel{
   font-size:2em;
}

/**pet screen*/
#petScreen {
    text-align: center;
    padding-top:1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#petSpace {
    height:10em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#status {
    margin-top:0.5em;
    /*pour pas que le coeur ou smiley se decale*/
    text-align:start;
    margin-left:8em;
}

/**game over screen**/
#gameOver {
    text-align: center;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

#GO {
    font-size:2.5em;
}

/**RPS screen**/
#rpsScreen {
   text-align:center
}

#rpsScreen .blackScreen {
    padding-top: 1em;
}


/**runner screen*/ 
#runnerScreen {
    text-align:center
 }
 
 #runnerBlackScreen {
     padding-top: 1em;
     overflow: hidden;
 }
#charac {
    width:2em;
    height:3em;
    background-color: #2bff00;
    position: relative;
    top:10em;
}

.jumpanim {
    animation:jump 500ms;
}

#obstacle {
    width:1em;
    height:1em;
    background-color: white;
    position: relative;
    top:9em;
    left:18em;
    animation:obstacle 2s infinite linear;
}

@keyframes obstacle {
    0%{left:18em;}
    100%{left:-2em;}
    
}

@keyframes jump {
    0%{top:10em;}
    30%{top:7em;}
    70%{top:7em;}
    100%{top:10em;}
}

/**buttons**/
#buttons {
    display: flex;
    justify-content:center;
    gap:2em;
}

button, #submit {
    /* font-family: 'VT323', 'Courier New', serif; */
    font-family: 'Open Sans', sans-serif;
    background: #ffffff51;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	font-size: 0.8em;
	padding: 0.3rem;
    cursor: pointer;

    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 10px;
}

button:hover, #submit:hover {
		background: #ffffff78;
}
